/*This is a file with all the css styles*/

.btn-secondary {
    background: #A29D82;
    border: none;
    border-radius: 0;
}

.btn-main {
    border: none;
    color: white;
    margin: 0;
}


.smallimg {
    width: 2rem;
    height: auto;
}

.btn-secondary {
    border: none;
}

.jumbotron {
    color: #ffffff;
    text-align: center;
    background-size: cover;
    height: 100%;
}

.backgroung_image{
 background-image: url("images/home.jpg");
}

.btn-squared-default {
    width: 100%;
    height: 8rem;
    font-size: 140%;
    line-height: 7rem;
}

.btn-startup {
    background: url("images/background_startup_thumbnail.jpg");
    background-size: cover;
}

.btn-corporation {
    background: url("images/corporation_thumbnail.png");
    background-size: cover;
}

.btn-investor {
    background: url("images/investor_thumbnail.jpg");
    background-size: cover;
}

.btn-job {
    background: url("images/job_seeker_thumbnail.jpg");
    background-size: cover;
}

.btn-agent {
    background: url("images/agent_thumbnail.jpg");
    background-size: cover;
}

.btn-other {
    background: url("images/other_thumbnail.jpg");
    background-size: cover;
}

/*Overrides the font size font small screen sizes*/

@media only screen and (max-width: 370px) {
    .btn-squared-default {
        font-size: 110%;
    }
}