/*This is a file with all the css styles*/

.btn-secondary {
    background: #A29D82;
    border: none;
    border-radius: 0;
}

.btn-main {
    border: none;
    color: white;
    margin: 0;
}

.smallimg {
    width: 2rem;
    height: auto;
}

.btn-secondary {
    border: none;
}

.jumbotron {
    color: #ffffff;
    text-align: center;
    background-size: cover;
    height: 100%;
}

.backgroung_image {
    background-image: url("images/home.jpg");
}

.btn-squared-default {
    width: 100%;
    height: 8rem;
    font-size: 140%;
    line-height: 7rem;
}

.btn-signup{
    background: none;
    border-radius: 0;
}

/*Overwrite so the button does not turn white when touched or mouse above it*/
.btn-signup:hover {
    background: none;
}

.btn-startup {
    background: url("images/background_startup_thumbnail.jpg");
    background-size: cover;
}

.btn-corporation {
    background: url("images/corporation_thumbnail.png");
    background-size: cover;
}

.btn-investor {
    background: url("images/investor_thumbnail.jpg");
    background-size: cover;
}

.btn-job {
    background: url("images/job_seeker_thumbnail.jpg");
    background-size: cover;
}

.btn-agent {
    background: url("images/agent_thumbnail.jpg");
    background-size: cover;
}

.btn-other {
    background: url("images/other_thumbnail.jpg");
    background-size: cover;
}

.btn:hover {
    color: #ffffff;
}

/*Overrides the font size for small screen sizes*/

@media only screen and (max-width: 370px) {
    .btn-squared-default {
        font-size: 110%;
    }
}

/*Change the font to Valuer custom font*/
@font-face {
    font-family: "Gotham black";
    src: url("Gotham-Black_Web.woff2");
}

@font-face {
    font-family: "Gotham book";
    src: url("Gotham-Book_Web.woff2");
}

@font-face {
    font-family: "Gotham book italic";
    src: url("Gotham-BookItalic_Web.woff2");
}



/*Gotham black is used for the headers*/
h1 {
    font-family: 'Gotham black', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

h5 {
    font-family: 'Gotham black', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

/*Gotham book is used for the paragraphs*/

i {
    font-family: 'Gotham book italic', Arial, sans-serif;
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: 'Gotham book', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}



.credits{
    text-align:center; 
    color:#8b8b8b;
}