/*This is a file with all the css styles*/

.btn-secondary {
    background: #A29D82;
    border: none;
    border-radius: 0;
}

.btn-main {
    border: none;
    color: white;
    margin: 0;
}

.jumbotron {
    background-image: url("job_seeker_thumbnail.jpg");
    color: #ffffff;
    text-align: center;
    background-size: cover;
    height: 100%;
}

.smallimg {
    width: 2rem;
    height: auto;
}

.btn-secondary {
    border: none;
}

.jumbotron {
    background-image: url("home.jpg");
    color: #ffffff;
    text-align: center;
    background-size: cover;
    height: 100%;
}

.btn-squared-default {
    width: 100%;
    height: 10rem;
    font-size: 140%;
    line-height: 9rem;
}

.btn-startup {
    background: url("background_startup_thumbnail.jpg");
    background-size: cover;
}

.btn-corporation {
    background: url("corporation_thumbnail.png");
    background-size: cover;
}

.btn-investor {
    background: url("investor_thumbnail.jpg");
    background-size: cover;
}

.btn-job {
    background: url("job_seeker_thumbnail.jpg");
    background-size: cover;
}

.btn-agent {
    background: url("agent_thumbnail.jpg");
    background-size: cover;
}

.btn-other {
    background: url("other_thumbnail.jpg");
    background-size: cover;
}

/*Overrides the font size font small screen sizes*/

@media only screen and (max-width: 370px) {
    .btn-squared-default {
        font-size: 100%;
    }
}